
{% extends "tracker/base.html" %}

{% block title %}
Home - Budget Tracker
{% endblock %}

{% block content %}
<h1>Welcome, {{ user.username }}</h1>
<p>This is the home page.</p>

<h2>Your Budgets</h2>
<ul>
    {% for budget in budgets %}
        <li>{{ budget.name }}: ${{ budget.amount }}</li>
    {% endfor %}
</ul>
<a href="{% url 'create_budget' %}">Create New Budget</a>
<br>

<h2>Your Expenses</h2>
<ul>
    {% for expense in expenses %}
        <li>{{ expense.category }} - {{ expense.description }}: ${{ expense.amount }}</li>
    {% endfor %}
</ul>
<a href="{% url 'add_expense' %}">Add New Expense</a>

{% endblock %}